WP_URL=http://truyendemxyz.local/wp-json/wp/v2
WP_USER=admin
WP_APP_PASS=your_application_password_here
SITE_URL=https://truyendem.xyz
CF_SYNC_SECRET=generate_a_long_random_secret
CF_DEPLOY_HOOK=https://optional-deploy-hook-url
